/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body.toolbar #toolbar-home a span {
background: transparent url("../images/logo-menu.png") no-repeat 0 0;
display: block;
min-height: 40px;
text-indent: -9999px;
width: 130px;
margin: 0;
}

body {
        background-color: #FFFFFF;
        background-image: url(../images/background.png);
        background-repeat: repeat-x;
        background-position: center top;
        background-attachment: fixed;
        margin: 0px;
        padding: 0px;
        }

.site-name-slogan h1 a, .site-name-slogan h1 a:visited, .site-name-slogan h1 a:link, .site-name-slogan h2 a   {
    color: black;
    font-variant: small-caps;
    font-family: Book Antiqua;
}

.zone-content {
    border: 1px solid #E0E3E6;
    background: lightgray;
}

.zone-preface {
    background: lightgray;
}

.front .node {
    border: 0px solid #E0E3E6;
}

a .button, a:link .button, a:visited .button {
    background: blue;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-family: helvetica;
    font-size: large;
}

.block-menu-menu-social-connection li {
    list-style: none;
}

.front img.image-blog_full, #node-page-17 img.image-blog_full {
  height: 380px;
  opacity: 0.9;
  /* width: 870px; */
  border: 10px solid white;
  margin: 0 0 20px 0;
  width: 97%;
}

#node-page-17 img.image-product_full {
  border: 10px solid white;
  float:right;
  margin-left: 20px;
}

p span {
  font-weight: bolder;
  padding: 5px;
}

div#block-block-2 {
  margin: auto;
  text-align: center;
}



